### Importing Libraries

In [2]:
import pandas as pd
import shortuuid
from sqlalchemy import create_engine
import plotly.express as px
import psycopg2 as ps

In [3]:
# Loading the data
df = pd.read_csv('dataset/cleaned_nur_data.csv', index_col=0)
df.head(2)

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,year,state_full,region
index,,,,,,,,,,,
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,0,5402,NJ,0,New Jersey,Northeast
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,0,6699,MA,0,Massachusetts,Northeast

In [4]:
# Getting region for user state inputs
user_state = 'NJ'
state_reg = df[df['state'] == user_state]['region'][0]
print(f'{user_state} is in the {state_reg}')

NJ is in the Northeast

### Generating IDs

In [5]:
def generate_rank_id(row):
    concat_str = str(row['rank']) + str(row['name'])
    unique_id = shortuuid.uuid(name=concat_str)
    return unique_id

def generate_school_id(row):
    concat_str = str(row['name']) + str(row['location'])
    unique_id = shortuuid.uuid(name=concat_str)
    return unique_id

In [6]:
df_nur = df.copy()
df_nur = df_nur.rename(columns={'state': 'state_id'})
df_nur['rank_id'] = df_nur.apply(generate_rank_id, axis=1)
df_nur['school_id'] = df_nur.apply(generate_school_id, axis=1)
df_nur.head(3)

# Saving data with ids
# df_nur.to_csv('dataset/cleaned_with_id.csv')

### Function to extract dataframe for each region

In [6]:
def region_df(reg):
    region = df_nur[df_nur['region'] == reg][['school_id', 'name', 'location', 'description', 'year', 'state_id', 'rank_id']]
    return region

In [9]:
northeast = region_df('Northeast')
midwest = region_df('Midwest')
west = region_df('West')
south = region_df('South')
rank_df = df_nur[['rank_id', 'rank', 'tuition_and_fees', 'in_state', 'undergrad_enrollment']]
state_df = df_nur[['state_id', 'state_full', 'region']].drop_duplicates(subset='state_id')

In [11]:
# Save state dataframe for manual import into the database
state_df.to_csv('state_df.csv', index=False)

### Connecting and inserting into the Remote Database

In [12]:
engine = create_engine('postgresql://XXX:xxx@xxxx/nur_db')
conn = ps.connect('postgresql://XXX:1234@xxxx/nur_db')

In [13]:
def insertion(data, table_name):
    data.to_sql(name=table_name, con=engine, schema='nur_app', if_exists='replace', index=False)

In [14]:
# insertion(northeast, 'northeast')
# insertion(midwest, 'midwest')
# insertion(south, 'south')
# insertion(west, 'west')
# insertion(rank_df, 'rank')
# insertion(state_df, 'state')

In [33]:
# Check if the insertion was succesful

query = """
SELECT n.name, tuition_and_fees
FROM nur_app.northeast n
JOIN nur_app.rank r
ON r.id = n.rank_id
ORDER BY tuition_and_fees DESC
LIMIT 3
"""
df = pd.read_sql_query(query, conn)
df

C:\Users\Goodrich Okoro\AppData\Local\Temp\ipykernel_21964\3707491110.py:9: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

                         name  tuition_and_fees
0         Columbia University             55056
1            Tufts University             52430
2  Carnegie Mellon University             52040