# National University Ranking

![](images/2023-07-13-00-48-01.png)

## Introduction

## Reasearch Idea: 
### Developing a searchable database to help high school students identify colleges that match their criteria in terms of tuition, graduation rate, location, and rank.

ROUGH OUTLINE
1. extract the state short code from location
2. extract the year founded from description
3. clean up the fees, in-state and enrollment columns
4. clean up the columns names

* 51 states

5. seperate each state schools
6. each state will be a table of it's own in the database for database optimization
7. create a state table
8. can rank school inside each state based on enrollment

-- EDA

9. Top school based on rank, tuition fees, instate fees, and enrollment
10. Top 2 schools within 56 states
11. oldest schools based on year founded
12. oldest school within 51 states
* Word cloud for each state

-- App interface

13. A brief overview with visuals from top school based on rank (overall)
14. selection box to select state. Once selected, brief overview with a visual of the top school in that state.
* Overview will include details based on the available data like average tuition and top ranked school.
15. Another section where we take in input from the user to recommend a movie within a choosen state.
16. If no state is choosen, we recommend based on the user location, and closest state.
* For closest state, we can do some resear to know which state is closer to each other (Feature engineering) 

## Objectives
Outline breakdown

### Data Cleaning: 
* Objective: Clean the data and feature engineer new columns
* Tools: Python

### EDA
* Objective: Create visuals from the cleaned data
* Tools: Power BI, Python

### Database Engineers
* Objective: Create the database and the schema. Views if possible
* Tools: SQL

### Project App
* Objective: Create the user interface
* Tools: Python, SQL, USer

### Technical Writers
* Objective: Document every process
* Microsoft/Google Suites (Slide, Docs, Excel, etc)

## Have a video meeting to discuss milestone achievement

### Import Libraries

In [2]:
import pandas as pd
import plotly.express as px

In [3]:
# Loading the dataset
nur = pd.read_csv("dataset/National Universities Rankings.csv", index_col=0)
nur.shape

(231, 7)

In [4]:
nur.head()

,Name,Location,Rank,Description,Tuition and fees,In-state,Undergrad Enrollment
index,,,,,,,
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...","$45,320",NaN,"5,402"
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...","$47,074",NaN,"6,699"
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...","$52,491",NaN,"5,844"
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...","$49,480",NaN,"5,532"
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...","$55,056",NaN,"6,102"

In [5]:
df_nur = nur.copy()

In [6]:
# Promise
# Remove the dollar sign ($) and comma
df_nur['Tuition and fees'] = df_nur['Tuition and fees'].str.replace('$', '', regex=False).str.replace(',', '')

# convert the column datatype to integer
df_nur['Tuition and fees'] = df_nur['Tuition and fees'].fillna('0').astype(int)

In [7]:
# Chinaza
# Cleaning In-state column
df_nur['In-state'] = df_nur['In-state'].str.replace('$','', regex=False).str.replace(',', '')
df_nur['In-state'] = df_nur['In-state'].fillna('0').astype(int)

In [8]:
# precious
# data cleaning by replacing ',' with '' and converting column to integer
df_nur['Undergrad Enrollment'] = df_nur['Undergrad Enrollment'].str.replace(',','').astype('int')

In [9]:
#task.toyosi - Extract the states from the location table, make it a column of it's own
df_nur['State'] = nur['Location'].str.split(',').str[-1].str.strip()

In [10]:
#Olufemilite
#Changing column headers to lower case and changing spaces to underscore
df_nur.rename(columns={"Name":"name","Location":"location","Rank":"rank","Description":"description",
                       "Tuition and fees":"tuition_and_fees","In-state":"in_state","Undergrad Enrollment":"undergrad_enrollment",
                       "State": "state"}, inplace=True)
df_nur.head()

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state
index,,,,,,,,
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,0,5402,NJ
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,0,6699,MA
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...",52491,0,5844,IL
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...",49480,0,5532,CT
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...",55056,0,6102,NY

In [11]:
# Goodrich
# Extract the year using regex and create a new column
df_nur['year'] = df_nur['description'].str.extract(r'(\d{4})')
df_nur['year'] = df_nur['year'].fillna('0').astype(int)

In [12]:
# grace_oby
# Get the full name of the 51 states and make it a column of it's own. 
# Note, you must make sure they match when adding it to the dataframe
state_abbrev = {
            'NJ': 'New Jersey',
            'MA': 'Massachusetts',
            'IL': 'Illinois',
            'CT': 'Connecticut',
            'NY': 'New York',
            'CA': 'California',
            'NC': 'North Carolina',
            'PA': 'Pennsylvania',
            'MD': 'Maryland',
            'NH': 'New Hampshire',
            'RI': 'Rhode Island',
            'TX': 'Texas',
            'IN': 'Indiana',    
            'TN': 'Tennessee',
            'MO': 'Missouri',
            'GA': 'Georgia',
            'DC': 'District of Columbia',
            'VA': 'Virginia',
            'MI': 'Michigan',
            'OH': 'Ohio',
            'LA': 'Louisiana',
            'FL': 'Florida',
            'WI': 'Wisconsin',
            'WA': 'Washington',
            'SC': 'South Carolina',
            'UT': 'Utah',
            'MN': 'Minnesota',
            'DE': 'Delaware',
            'CO': 'Colorado',
            'IA': 'Iowa',
            'OK': 'Oklahoma',
            'VT': 'Vermont',
            'AL': 'Alabama',
            'OR': 'Oregon',
            'NE': 'Nebraska',
            'KS': 'Kansas',
            'AZ': 'Arizona',
            'KY': 'Kentucky',
            'AR': 'Arkansas',
            'MS': 'Mississippi',
            'HI': 'Hawaii',
            'ID': 'Idaho',
            'WY': 'Wyoming',
            'NM': 'New Mexico',
            'ME': 'Maine',
            'WV': 'West Virginia',
            'ND': 'North Dakota',
            'NV': 'Nevada',
            'SD': 'South Dakota',
            'AK': 'Alaska',
            'MT': 'Montana',
    
}
state_abbrev.keys()

dict_keys(['NJ', 'MA', 'IL', 'CT', 'NY', 'CA', 'NC', 'PA', 'MD', 'NH', 'RI', 'TX', 'IN', 'TN', 'MO', 'GA', 'DC', 'VA', 'MI', 'OH', 'LA', 'FL', 'WI', 'WA', 'SC', 'UT', 'MN', 'DE', 'CO', 'IA', 'OK', 'VT', 'AL', 'OR', 'NE', 'KS', 'AZ', 'KY', 'AR', 'MS', 'HI', 'ID', 'WY', 'NM', 'ME', 'WV', 'ND', 'NV', 'SD', 'AK', 'MT'])

In [13]:
df_nur["state_full"] = df_nur["state"].map(state_abbrev)

In [14]:
df_nur.head()

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,year,state_full
index,,,,,,,,,,
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,0,5402,NJ,0,New Jersey
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,0,6699,MA,0,Massachusetts
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...",52491,0,5844,IL,0,Illinois
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...",49480,0,5532,CT,0,Connecticut
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...",55056,0,6102,NY,0,New York

In [15]:
df_nur.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 230
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  231 non-null    object
 1   location              231 non-null    object
 2   rank                  231 non-null    int64
 3   description           231 non-null    object
 4   tuition_and_fees      231 non-null    int32
 5   in_state              231 non-null    int32
 6   undergrad_enrollment  231 non-null    int32
 7   state                 231 non-null    object
 8   year                  231 non-null    int32
 9   state_full            231 non-null    object
dtypes: int32(4), int64(1), object(5)
memory usage: 16.2+ KB

In [16]:
df_nur.isna().sum()

name                    0
location                0
rank                    0
description             0
tuition_and_fees        0
in_state                0
undergrad_enrollment    0
state                   0
year                    0
state_full              0
dtype: int64

In [17]:
df_nur['state'].unique()

array(['NJ', 'MA', 'IL', 'CT', 'NY', 'CA', 'NC', 'PA', 'MD', 'NH', 'RI',
       'TX', 'IN', 'TN', 'MO', 'GA', 'DC', 'VA', 'MI', 'OH', 'LA', 'FL',
       'WI', 'WA', 'SC', 'UT', 'MN', 'DE', 'CO', 'IA', 'OK', 'VT', 'AL',
       'OR', 'NE', 'KS', 'AZ', 'KY', 'AR', 'MS', 'HI', 'ID', 'WY', 'NM',
       'ME', 'WV', 'ND', 'NV', 'SD', 'AK', 'MT'], dtype=object)

In [19]:
#SERAH
#Filter the dataframe for the following 5 states. NJ, MA, IL, CT, and NY. 
#For each of them, there should be a dataframe sorted by tuition fees, in state, and undergrad enrollment. E.g. Seperate NJ entries, a df sorted by tuition desc order, another df still for NJ sorted by in state column desc, lastly another df sorted by enrollment

nj = df_nur[df_nur['state'] =='NJ']
nj_grad = nj.sort_values('undergrad_enrollment', ascending=False).reset_index(drop=True)
nj_instate = nj.sort_values('in_state', ascending=False).reset_index(drop=True)

In [20]:
ma = df_nur[df_nur['state'] =='MA']
ma_fees = ma.sort_values('tuition_and_fees', ascending=False).reset_index(drop=True)
ma_grad = ma.sort_values('undergrad_enrollment', ascending=False).reset_index(drop=True)
ma_instate= ma.sort_values('in_state', ascending=False).reset_index(drop=True)

In [21]:
il = df_nur[df_nur['state'] =='IL']
il_fees = il.sort_values('tuition_and_fees', ascending=False).reset_index(drop=True)
il_grad = il.sort_values('undergrad_enrollment', ascending=False).reset_index(drop=True)
il_instate = il.sort_values('in_state', ascending=False).reset_index(drop=True)

In [22]:
ct = df_nur[df_nur['state'] =='CT']
ct_fees = ct.sort_values('tuition_and_fees', ascending=False).reset_index(drop=True)
ct_grad = ct.sort_values('undergrad_enrollment', ascending=False).reset_index(drop=True)
ct_instate = ct.sort_values('in_state', ascending=False).reset_index(drop=True)

In [23]:
ny = df_nur[df_nur['state'] =='NY']
ny_fees = ny.sort_values('tuition_and_fees', ascending=False).reset_index(drop=True)
ny_grad = ny.sort_values('undergrad_enrollment', ascending=False)
ny_instate = ny.sort_values('in_state', ascending=False)

In [24]:
# graceoby task16 EDA
# Create a function that does it automatically for any given state. 
# Your function should return three dataframe based on the sorting dataframes mentioned in the task.

# function to view feature reports of schools in each state
def show_report(state_code):
    state_df = df_nur[df_nur["state"]==state_code]
    tuition = pd.DataFrame(state_df.groupby("name").agg({"tuition_and_fees":"mean", "rank":"sum"}).sort_values("tuition_and_fees",ascending=False))
    instate = pd.DataFrame(state_df.groupby("name").agg({"in_state":"mean", "rank":"sum"}).sort_values("in_state",ascending=False))
    enroll = pd.DataFrame(state_df.groupby("name").agg({"undergrad_enrollment":"mean", "rank":"sum"}).sort_values("undergrad_enrollment",ascending=False))
    print(tuition)
    print("-------------------------------------------------------")
    print(instate)
    print("-------------------------------------------------------")
    print(enroll)
    
    
show_report("CT")

                           tuition_and_fees  rank
name
Yale University                     49480.0     3
University of Hartford              37790.0   188
University of Connecticut           35858.0    60
-------------------------------------------------------
                           in_state  rank
name
University of Connecticut   14066.0    60
University of Hartford          0.0   188
Yale University                 0.0     3
-------------------------------------------------------
                           undergrad_enrollment  rank
name
University of Connecticut               18826.0    60
Yale University                          5532.0     3
University of Hartford                   5246.0   188

In [25]:
# This could also be used(but not my best option because of how it disfigures the output even when I tried with return statement... please verify)

def show_report_2(state_code):
    state_df = df_nur[df_nur["state"]==state_code]
    tuition = state_df.sort_values("tuition_and_fees",ascending=False)
    instate = state_df.sort_values("in_state",ascending=False)
    enroll = state_df.sort_values("undergrad_enrollment",ascending=False)
    #return tuition, instate, enroll
    print(tuition)
    print("-------------------------------------------------------")
    print(instate)
    print("-------------------------------------------------------")
    print(enroll)
    
    
show_report_2("CT")

                            name           location  rank  \
index
3                Yale University      New Haven, CT     3
192       University of Hartford  West Hartford, CT   188
62     University of Connecticut         Storrs, CT    60

                                             description  tuition_and_fees  \
index
3      Yale University, located in New Haven, Connect...             49480
192    The University of Hartford, also known as UHar...             37790
62     The University of Connecticut, located in Stor...             35858

       in_state  undergrad_enrollment state  year   state_full
index
3             0                  5532    CT     0  Connecticut
192           0                  5246    CT     0  Connecticut
62        14066                 18826    CT  1940  Connecticut
-------------------------------------------------------
                            name           location  rank  \
index
62     University of Connecticut         Storrs, CT    60
3                Yale University      New Haven, CT     3
192       University of Hartford  West Hartford, CT   188

                                             description  tuition_and_fees  \
index
62     The University of Connecticut, located in Stor...             35858
3      Yale University, located in New Haven, Connect...             49480
192    The University of Hartford, also known as UHar...             37790

       in_state  undergrad_enrollment state  year   state_full
index
62        14066                 18826    CT  1940  Connecticut
3             0                  5532    CT     0  Connecticut
192           0                  5246    CT     0  Connecticut
-------------------------------------------------------
                            name           location  rank  \
index
62     University of Connecticut         Storrs, CT    60
3                Yale University      New Haven, CT     3
192       University of Hartford  West Hartford, CT   188

                                             description  tuition_and_fees  \
index
62     The University of Connecticut, located in Stor...             35858
3      Yale University, located in New Haven, Connect...             49480
192    The University of Hartford, also known as UHar...             37790

       in_state  undergrad_enrollment state  year   state_full
index
62        14066                 18826    CT  1940  Connecticut
3             0                  5532    CT     0  Connecticut
192           0                  5246    CT     0  Connecticut

### EDA

In [36]:
fig = px.bar(df_nur[:3], x="rank", y="name", color="name", text_auto=True,height = 500, width= 700)
fig.update_layout(xaxis={"categoryorder": "total ascending"}, title_text="Top Universities by Rank")
fig.show()

In [32]:
df_nur.head()

,name,location,rank,description,tuition_and_fees,in_state,undergrad_enrollment,state,year,state_full
index,,,,,,,,,,
0,Princeton University,"Princeton, NJ",1,"Princeton, the fourth-oldest college in the Un...",45320,0,5402,NJ,0,New Jersey
1,Harvard University,"Cambridge, MA",2,"Harvard is located in Cambridge, Massachusetts...",47074,0,6699,MA,0,Massachusetts
2,University of Chicago,"Chicago, IL",3,"The University of Chicago, situated in Chicago...",52491,0,5844,IL,0,Illinois
3,Yale University,"New Haven, CT",3,"Yale University, located in New Haven, Connect...",49480,0,5532,CT,0,Connecticut
4,Columbia University,"New York, NY",5,"Columbia University, located in Manhattan's Mo...",55056,0,6102,NY,0,New York

In [28]:
# fig = px.bar(df_nur, y="tuition_and_fees", x="name", color="name", text_auto=True,height = 900, width= 2500)
# fig.update_layout(barmode="stack", xaxis={"categoryorder": "total descending"}, title_text="Top Universities by Tuition_and_fees")
# fig.show()

In [30]:
# fig = px.bar(df_nur, y="undergrad_enrollment", x="name", color="name", text_auto=True,height = 900, width= 2500)
# fig.update_layout(barmode="stack", xaxis={"categoryorder": "total descending"}, title_text="Top Universities by Undergrad_enrollment")
# fig.show()

# ALL YOUR TASK SHOULD BE DONE BELOW THIS MARKDOWN FOR EASY MERGING